
    *{
        box-sizing: border-box;
        max-width: 100%;
    }
    body {
        padding: 5%;
        margin: 5%
    }
.image1 {
    display: inline-block;
    border: 1px transparent black;
    padding: 5px 4%;
    border-radius: 20px;
    text-align: center;
    background-color: red;
}
.image2 {
    display: inline-block;
    border: 1px transparent black;
    padding: 5px 4%;
    border-radius: 20px;
    text-align: center;
    background-color:  rgb(53, 219, 219);
}
.image3 {
    display: inline-block;
    border: 1px transparent black;
    padding: 5px 4%;
    border-radius: 20px;
    text-align: center;
    background-color:  rgb(216, 216, 43);
}
a {
    
    margin: auto 5%;
    width: 20%;
    font-size: x-large;
    text-decoration: none;
    color: white;
}
.header_img {
    border: 1px transparent black;
    border-radius: 50%;
    height: 10rem;
}